---
apiVersion: v1
kind: Service
metadata:
  name: spring-6-project-template
spec:
  type: NodePort
  ports:
    - port: 80
      targetPort: 8080
  selector:
    app: spring-6-project-template

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: spring-6-project-template
  labels:
    app: spring-6-project-template
spec:
  replicas: 1
  selector:
    matchLabels:
      app: spring-6-project-template
  template:
    metadata:
      labels:
        app: spring-6-project-template
    spec:
      containers:
        - name: spring-6-project-template
          image: domboeckli/spring-6-project-template:${VERSION.TO.REPLACE}
          env:
            #- name: SPRING_PROFILES_ACTIVE
            #  value: postgres
            - name: SPRING_APPLICATION_JSON
              value: |
                {
                  "management.endpoint.health.probes.add-additional-paths": true
                }
          ports:
            - name: http
              containerPort: 8080
          livenessProbe:
            httpGet:
              path: /livez
              port: http
          readinessProbe:
            httpGet:
              path: /readyz
              port: http